.layout_fix {
  max-width: 1240px;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.signUp_layout {
  width: 1000px;
  margin: 0 auto;
}

html {
  background-color: #181928;
}

.ytp-button {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: default;
  line-height: inherit;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_16 {
  margin-top: 16px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mt_40 {
  margin-top: 40px !important;
}

.mt_60 {
  margin-top: 60px !important;
}

.mt_80 {
  margin-top: 80px;
}

.p_14_24 {
  padding: 14px 24px !important;
}

.font-13 {
  font-size: .813rem !important;
}

[class~="red"] {
  background-color: #e4203e;
}

[class~="font_red"] {
  color: #e4203e;
}

[class~="lightNavy"] {
  background-color: var(--gray-60);
}

[class~="heading"] {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2[class~="title"] {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

p[class~="title"] {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}

[class~="inner_layout"] {
  padding-left: 25px;
  padding-right: 25px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

button[class^="submit"] {
  padding: 24px 140px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
}

button[class*="btn"] {
  font-style: normal;
  gap: 2px;
  border-radius: 4px;
}

button,
button[class*="btn"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
  color: var(--gray-00);
}

.btn_wrap+.info_txt,
.info_txt,
.input_form .info_txt {
  font-family: Pretendard, sans-serif;
  color: var(--gray-40);
  margin-top: 10px;
  font-size: .75rem;
  font-weight: 500;
  text-align: left;
}

[class~="line_box"] {
  background: #272b3a;
  border: 1px solid #3a4152;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

[class~=scroll_box] {
  width: 100%;
  border: 1px solid var(--gray-50);
  background-color: var(--gray-60);
  color: var(--gray-20);
  box-sizing: border-box;
  padding: 24px;
  font-size: .875rem;
  line-height: 1.4;
  letter-spacing: -.02em;
  text-align: left;
  resize: none;
  overflow: overlay;
}


[class^=check_box] {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 30px;
}

#input_form .scroll_box li {
  font-family: 'Pretendard', sans-serif;
  letter-spacing: -.02em;
  text-align: left;
  color: var(--gray-30);
  font-size: .875rem;
  line-height: 1.3;
  margin-bottom: 30px;
}

#input_form .scroll_box strong {
  display: block;
  font-family: Pretendard, sans-serif;
  font-size: .938rem;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: -.02em;
  color: var(--gray-30);
}

/* input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
} */

/* input_form table */
/* General Table Styles */
.table,
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-family: Pretendard, sans-serif;
}

.table {
  table-layout: fixed;
  border-left: 1px solid var(--gray-40);
}

.table tr td,
.table tr>th {
  border-bottom: 1px solid #dcdfe0;
}

.table th,
.table td {
  padding: 12px 8px;
  min-width: 44px;
  text-align: center;
  vertical-align: middle;
}

/* Table Header Styles */
.table th {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-00);
  line-height: 1.12;
  background: var(--gray-50);
  border-right: 1px solid var(--gray-40);
  border-top: 1px solid var(--gray-40);
}

/* Table Data Cell Styles */
.table td {
  padding: 12px 8px;
  min-width: 44px;
  font-size: .875rem;
  /* color: var(--gray-60); */
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -.025em;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid var(--gray-20);
  border-right: 1px solid var(--gray-20);
  background: var(--gray-60);
}

/* Scrollable Table */
.table.scroll {
  overflow: auto;
}

.table.scroll tbody th {
  position: sticky;
  left: 0;
  background: var(--gray-00);
  color: var(--gray-60);
  border-top: 1px solid var(--gray-20);
  z-index: 1;
}

/* In-Border Table Styles */
.table[class*=table-inborder] {
  border: 0;
  background: none;
}

.table[class*=table-inborder] td {
  border-right-color: var(--gray-50);
  border-bottom: 1px solid var(--gray-50);
  line-height: 1.2;
}

.table[class*=table-inborder] th,
.table[class*=table-inborder] tbody th {
  padding: 12px 8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-20);
  background: var(--gray-50);
  border-top: 1px solid var(--gray-50);
  border-bottom: 1px solid var(--gray-50);
}

.table[class*=table-inborder].scroll tbody th {
  background: var(--gray-80);
}

.table.scroll tbody th,
.table[class*=table-inborder] tbody th:after,
.table[class*=table-inborder].scroll tbody th {
  background: var(--gray-80);
}

/* Utility Classes */
.line-h15 {
  line-height: 1.5 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.bg-gray-60 {
  background-color: var(--gray-60) !important;
}

/* signup */
[class~=line_box].select3 {
  width: 31% !important;
}