@charset "utf-8";

@font-face {
	font-family: 'AssacomFreeGothicTTF-Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/AssacomFreeGothicTTF-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

:root{
	--primary: #e4203e;
    --primary-bg: #c11925;
    --secondary: #4a86ff;
    --point-01: #01c7f7;
    --point-02: #f99a0e;
    --blue: #44a5ff;
    --green: #54e195;
    --orange: #ef9a37;
    --red: #ff4949;
    --gray-90: #0a0f20;
    --gray-80: #181928;
    --gray-70: #222232;
    --gray-60: #272b3a;
    --gray-50: #3a4152;
    --gray-40: #66687b;
    --gray-30: #adb1bd;
    --gray-20: #dee0e5;
    --gray-10: #e8ecef;
    --gray-05: #f1f3f5;
    --gray-00: #fff;
    --gradation-01: linear-gradient(90deg, #e61a1a -7.03%, #0725c6 148.44%);
    --gradation-02: linear-gradient(90deg, #e61a1a -7.03%, #1940ca 108.33%);
    --gradation-03: linear-gradient(179.92deg, #d00f31 -5.56%, rgba(29, 23, 104, 0) 102.81%);
    --gradation-04: linear-gradient(90deg, #e61a1a -7.03%, #0c1a4e 108.33%);
}

//변수
$primary: #70b9be;
$text1: #0a2533;
$text2: #353535;
$stroke: #e6ebf2;
$bg: #f1f5f5;
$navbg: rgba(0, 0, 0, .7);
$gray1: #96a1b0;
$gray2: #748189;
$white: #fff;
$black: #000;
$shade7: #709799;
$shade6: #5f8486;
$shade5: #636c6d;
$shade4: #435556;
$shade3: #313e3f;
$shade2: #222a2a;
$shade1: #101314;
$tint1: #a5babb;
$tint2: #d5dcdd;
$tint3: #fafafa;
$rem: 0.8rem;
$ff: 'Pretendard', "Gotham";
$mobile: 0px;
$tablet: 768px;
$desktop: 992px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "AssacomFreeGothic ,Gotham, Pretendard" !important;
	user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: Assacom, Gotham, Pretendard, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    color: var(--gray-00);
    line-height: 1.2;
    vertical-align: baseline;
    text-size-adjust: none;
}

button{
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

input {
    border: 0;
    outline: 0;
}

input, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: Pretendard, sans-serif;
}

button, input, textarea {
    border-radius: 0;
    font-family: Pretendard, sans-serif;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: Assacom, Gotham, Pretendard, sans-serif;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: baseline;
    line-height: 1.2;
    box-sizing: border-box;
}

$breakpoints: (
	'sm': (min-width: $mobile,
		max-width: $tablet -1px,
	),
	'md': (min-width: $tablet,
		max-width: $desktop,
	),
	'lg': (min-width: $desktop,
	),
);

@mixin media($size) {
	$query: map-get($breakpoints, $size );
	$min-width: map-get($query, min-width);
	$max-width: map-get($query, max-width);

	@if $min-width and $max-width {
		@media (min-width: #{$min-width}) and (max-width: #{$max-width}) {
			@content;
		}

	}

	@else if $min-width {
		@media (min-width: #{$min-width}) {
			@content;
		}
	}

	@else if $max-width {
		@media (max-width: #{$max-width}) {
			@content;
		}
	}
}

@mixin df($d: row, $just: space-evenly, $align: center, $g: 1rem) {
	display: flex;
	flex-direction: $d;
	justify-content: $just;
	align-items: $align;
	gap: $g;
	@content;
}

@mixin item($c: 50%, $a: 1, $b: 1) {
	flex-shrink: $a;
	flex-grow: $b;
	flex-basis: $c;
	@content;
}

@mixin padding($l: auto, $t: auto, $r: auto, $b: auto) {
	padding-left: $l;
	padding-top: $t;
	padding-right: $r;
	padding-bottom: $b;
}

@mixin font($s: 1rem, $w: 500, $c: $text2, $a: left, $f: $ff) {
	font-family: $ff;
	font-size: $s;
	font-weight: $w;
	color: $c;
	text-align: $a;
	@content;
}

@mixin psudo() {
	content: '';
	position: absolute;
	@content;
}

%cut {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit
}