.heading_up {
  margin: 62px auto 60px;
  text-align: center;

  .title_up {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 60px;
  }
}


.signup {
  color: #fff;

  .heading_up {

    .sub {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .mini {
      color: #adb1bd;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .subscription {
    .sub_section {
      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          display: flex;
          gap: 16px;
          font-size: 0.875rem;

          strong {
            color: #adb1bd;
            font-weight: 500;
            text-align: left;
            min-width: 50px;
          }

          span {
            letter-spacing: -0.02em;
            color: #dee0e5;
            text-align: left;
          }
        }
      }
    }

    .info_txt {
      text-align: left;

      span {
        display: block;
        margin-bottom: 7px;
        font-size: 0.813rem;
        color: #adb1bd;
      }
    }
  }
}

.page_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .submit_style:hover {
    background-color: var(--primary);

    &:disabled {
      background-color: var(--gray-60);
    }
  }
}

.signup_check {
  .step_bar {
    width: 100%;
    display: flex;

    .step {
      border: 1px solid var(--gray-50);
      border-right: 0;
      font-size: 1rem;
      line-height: 1.2;
      letter-spacing: 0;
      text-align: center;
      box-sizing: border-box;
      padding: 9px;
      flex: 1 1;
      color: var(--gray-30);

      button {
        width: 100%;
        text-align: center;
        color: var(--gray-30);
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .step.on {
      button {
        color: var(--gray-00) !important;
      }
    }

    .step0 {
      border-radius: 4px 0 0 4px;
    }

    .step2 {
      border-right: 1px solid var(--gray-50);
      border-radius: 0 4px 4px 0;
    }

    .on {
      color: var(--gray-00);
      border-left: 1px solid var(--primary);
      border: 1px solid var(--primary);
      border-left-color: var(--gray-50);
      background: var(--primary);
    }
  }

  .input_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--gray-30);
    margin-top: 40px;

    .scroll_box {
      height: 180px;
      font-family: "Pretendard", sans-serif;
    }

    .check_box.small {
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px 30px;
    }

    .sub-txt {
      text-align: left;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0;
      margin-top: 16px;
    }

    ul#info_section {
      width: 100%;

      hr {
        width: 100%;
        border: 1px solid var(--gray-50);
      }

      .phone_section {
        select {}
      }

      .birth_section {
        label::after {
          display: none;
        }

        .line_box.select3:nth-child(3) {
          margin: 0 3%;
        }
      }

      .sex_section {
        .area_style {
          ::after {
            display: none;
          }

          .select {
            display: flex;
            align-items: center;
            gap: 25px;


            label {
              font-size: 0.875rem;
              line-height: 2rem;
              padding: 0.2em 0.4em;


              >[type="radio"] {
                width: 1.25em;
                height: 1.25em;
                margin-right: 10px;
                vertical-align: middle;
                appearance: none;
                border: max(1px, 0.1em) solid var(--gray-30);
                border-radius: 50%;
              }

              :checked {
                border: 0.4em solid var(--primary);
              }

              :focus-visible {
                outline: max(2px, 0.1em) dotted var(--primary);
                outline-offset: max(2px, 0.1em);
              }

              >span {
                vertical-align: middle;
                cursor: pointer;
              }
            }
          }
        }
      }

      .line_box_select3 {
        width: 30%;
      }

      .area_style {
        >label {
          display: block;
          color: var(--gray-10);
          font-size: 1rem;
          font-weight: 600;

          &::after {
            content: "*";
            width: 6px;
            height: 6px;
            margin-left: 5px;
            color: var(--primary);
          }
        }

        ::placeholder {
          color: var(--gray-30);
        }

        input {
          display: inline-block;
          width: 100%;
          height: 45px;
          color: var(--gray-30);
          font-size: 0.875rem;
        }

        .mes_style {
          display: block;
          font-size: 0.875rem;

          &::before {
            content: "";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #666;
          }
        }

        .success_color {
          color: var(--secondary);
        }

        .error_color {
          color: var(--red);
        }

        .help_style {
          font-size: 0.855rem;
          color: var(--gray-30);
        }

        .connect {
          display: inline-block;
          margin: 0 2%;
          font-size: 1rem;
          color: var(--gray-30);
        }
      }
    }
  }
}

.check_box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 30px;

  li {
    position: relative;

    input {
      position: absolute;
      display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    ::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 50%;
      border: none;
      background: var(--gray-50) url(/images/ico_check_gray40.png) 50% 50% no-repeat;
      background-size: 13px;
      z-index: 1;
    }

    input:checked+label::before {
      background: var(--primary) url(../images/ico_checked.png) 50% 50% no-repeat;
      background-size: 13px;
    }

    label {
      display: flex;
      position: relative;
      cursor: pointer;

      ::before {
        content: "";
        width: 0;
        height: 0;
      }

      span {
        display: flex;
        align-items: center;
        font-family: Pretendard, sans-serif;
        font-size: 0.938rem;
        font-weight: 500;
        color: var(--gray-30);
      }
    }
  }
}

.login{
  .login_box{
    margin: 62px auto 0;
    width: 500px;
    text-align: center;
  }
}